@model ThongNhat_PhongMo.Models.ThongTinKhamBenh

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3>Xóa bệnh nhân</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoten)
        </dd>
        <dt class = "col-sm-2">
            Năm sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.namsinh)
        </dd>
        <dt class = "col-sm-2">
            Mã Bệnh nhân
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mabn)
        </dd>
        <dt class = "col-sm-2">
            Phòng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phongban.Id)
        </dd class>
        <dt class = "col-sm-2">
            Tình trạng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tinhtrang.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
